{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "insertPragma": false,
  "bracketSameLine": true,
  "printWidth": 130,
  "proseWrap": "always",
  "quoteProps": "as-needed",
  "requirePragma": false,
  "semi": true,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false,
  "vueIndentScriptAndStyle": false,
  "jsxBracketSameLine": false,
  "jsxSingleQuote": false,
  "endOfLine": "auto",
  "importOrder": ["^\\u0000", "^react", "^react-native", "^@\\w", "^\\w"],
  "overrides": [
    {
      "files": ["*.js", "*.jsx", "*.ts", "*.tsx"],
      "options": {
        "singleQuote": false,
        "trailingComma": "es5"
      }
    }
  ]
}
